.user-info {
    display: flex;
    border-left: 1px solid #EBEBF1;
    padding: 20px 0 20px 20px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.user-info__name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #768298;
}

.user-info__image {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 767px) {
    .user-info {
        display: none;
    }
}